[submodule "plugin/xdg-desktop-portal/dep/xdg-desktop-portal"]
	path = plugin/xdg-desktop-portal/dep/xdg-desktop-portal
	url = https://github.com/pterror/xdg-desktop-portal.git
	shallow = true
[submodule "plugin/screenshot/dep/wlroots"]
	path = plugin/screenshot/dep/wlroots
	url = https://gitlab.freedesktop.org/wlroots/wlroots.git
	shallow = true
